*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/openCVLibrary
/settings.gradle
/gradlew
/gradlew.bat
/import-summary.txt
/SWAP.iml

